*{
    padding: 0%;
    margin: 0%;
}
nav .navbar-brand{
    font-size: 3em;
}
.nav-item{
    padding-right: 35%;
    margin-left: 25%;
    
}
main .carousel-item{
    padding: 1em;
}

footer .inner{
    margin-left: 2%;
    color: white;
    padding-top: 1em;
}



footer .inner1{
    margin-left: 2%;
    color: white;
    padding-top: 1em;
}

main img{
    float: left;
}
main .list-group{
    padding-left: 5%;
}

a .yo{
    font-size: 2em;
    text-decoration: none;
}

a .w{
    text-decoration: none;
    font-size: 5em;
}

form{
    padding-bottom: 2%;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

body .text-center{
background-color: #f5f5f5;
}

input .form-control{
    width: 30%;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }